# Unity generated folders
Library/
Temp/
Obj/
Build/
Builds/
Logs/

# Visual Studio / Rider
.vscode/
*.csproj
*.sln
*.user
*.pidb
*.unityproj
*.suo
*.tmp
*.userprefs

# Shader files you don’t want
*.shader
*.compute
*.cginc
*.hlsl
*.glsl
*.shadergraph
Assets/TextMesh Pro/Shaders.meta
Assets/TextMesh Pro/Shaders/*.meta

# OS generated
.DS_Store
Thumbs.db
